{extend name="common/common"/}
{block name="body-menu"}
{include file="content/menu" /}
{/block}
{block name="body-main"}
<div class="pageheader notab">
    <if condition='#'>

        <else/>
        <h1 class="pagetitle">五大承诺 <small><a href="admin/content/edit?ac=newsqiye"></a></small></h1>
    </if>
</div>

<div id="contentwrapper" class="contentwrapper">

    <div class="contenttitle2">
        <h3>承诺列表</h3>
    </div>

    <table class="table table-striped table-bordered table-hover no-footer" >
        <thead>
        <tr id="biaoti">
            <th style="display: none;">Id</th>
            <th>承诺名</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {volist name="title" id="vo"}
                <tr>
                    <td class="gai" style="display: none;"><input class="textbtn"  type="text" style="border:none" readonly="readonly" value="{$vo.Id}"></td>
                    <td  style="text-align: left" class="gai"><input class="textbtn"  type="text" style="border:none" readonly="readonly" value="{$vo.subname}"></td>
                    <td class="gai"><input class="textbtn"  type="text" style="border:none;width: 100%" readonly="readonly" value="{$vo.titlecontent}"></td>
                    <td width="200">
                        <input type="button" class="btn btn-xs  btn-primary xiugai" value="修改" >
                        <input type="button" class="btn btn-xs  btn-primary baocun" value="保存"  style="display: none">
                        <!--<input type="button" class="btn btn-xs btn-danger " value="删除">-->
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>

    <ul class="pagination">

    </ul>
</div>
{/block}
{block name="footer-ext"}
<script>
    (function($){
        $(document).ready(function () {
            $(".xiugai").click(function (e) {
                var btn = e.target;
                var count = $($($(btn).parent().get(0)).siblings(".gai")).length;
                for(var i = 0;i<count;i++){
                    var cbtn =$($($(btn).parent().get(0)).siblings(".gai")).children().get(i);
                    $(cbtn).removeAttr("readonly");
                    $(cbtn).css("border","1px solid rgb(71,145,255)");
                }
                var baocun =$(btn).siblings(".baocun").get(0);
                $(baocun).show();
                $(btn).css("display","none");
            })
            $(".baocun").click(function (e) {
                var btn = e.target;
                var count = $($($(btn).parent().get(0)).siblings(".gai")).length;
                for(var i = 0;i<count;i++){
                    var cbtn =$($($(btn).parent().get(0)).siblings(".gai")).children().get(i);
                    $(cbtn).attr("readonly","readonly");
                    $(cbtn).css("border","none");
                }
                var xiugai =$(btn).siblings(".xiugai").get(0);
                $(btn).hide();
                $(xiugai).show();
                var data = {};
                for( var i = 0;i<count;i++){
                    var cbtn = $($($($(btn).parent().get(0)).siblings(".gai")).children().get(i)).val();
                    var name = $($("#biaoti").children().get(i)).text();
                    data[name]=cbtn;
                }
                $.ajax({
                    type:'POST',
                    url:'admin/content/update',
                    data:data,
                    async:false,
                    dataType:'json',
                    //contentType: 'text/plain; charset=utf-8',
                    success:function (data) {
                        alert(data);
                    },
                    error:function () {
                        //alert("修改失败");
                    }
                })
            })
        })
    })(jQuery)
</script>
{/block}
