<div class="vernav2 iconmenu" >
    <ul>
        <li class="has-sub">
            <a href="#newsqiye">
                <i class="fa fa-list-alt"></i>新闻资讯管理<i class="fa fa-angle-down"></i>
            </a>
            <ul id="newsqiye" class="sub-menu">
                <li>
                    <a href="admin/content/newsqiye">
                        <i class="fa fa-angle-right"></i>企业新闻
                    </a>
                </li>
                <li>
                    <a href="admin/content/newshangye">
                        <i class="fa fa-angle-right"></i>行业资讯
                    </a>
                </li>
                <li>
                    <a href="admin/content/newsmeiti">
                        <i class="fa fa-angle-right"></i>媒体报道
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li class="has-sub">
            <a href="#news">
                <i class="fa fa-list-alt"></i>其它文字管理<i class="fa fa-angle-down"></i>
            </a>
            <ul id="news" class="sub-menu">
                <li>
                    <a href="admin/content/wenhua">
                        <i class="fa fa-angle-right"></i>企业文化
                    </a>
                </li>
                <li>
                    <a href="admin/content/jianjie">
                        <i class="fa fa-angle-right"></i>简介管理
                    </a>
                </li>
                <li>
                    <a href="admin/content/chengnuo">
                        <i class="fa fa-angle-right"></i>五大承诺
                    </a>
                </li>
                <li>
                    <a href="admin/content/jiandu">
                        <i class="fa fa-angle-right"></i>服务监督
                    </a>
                </li>
                <li>
                    <a href="admin/content/dibu">
                        <i class="fa fa-angle-right"></i>底部文字
                    </a>
                </li>
                <!--<li>-->
                <!--<a href="admin/content/newsdelete">-->
                <!--<i class="fa fa-angle-right"></i>已删除文章-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </li>
    </ul>
</div>