
/* =============================================================
   GENERAL STYLES
 ============================================================ */

 
@charset "utf-8";
/* reset */
*{margin:0;padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
:focus{outline:0;}
label{cursor:pointer;}
img{vertical-align:middle;}
table{empty-cells:show;border-collapse:collapse;border-spacing:0;}
h1{font-size:16px;}h2,h3,h4{font-size:14px;}h5,h6{font-size:12px;}
abbr,acronym{border:0;font-variant:normal}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
a,img{border:0;}
a,a:visited{color:#5e5e5e; text-decoration:none;}
a:hover{color:#4183C4;text-decoration:underline;}
.clear{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
body{font:12px/180% Arial,Lucida,Verdana,"宋体",Helvetica,sans-serif;color:#333;background:#fff;}
/* shortcut */
.shortcut{position:fixed;top:0;left:0;z-index:9999;width:100%;}
*html,*html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
*html .shortcut{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
.shortcut{height:28px;line-height:28px;font-size:12px;background:#EEEEEE;text-transform:uppercase;box-shadow:1px 0px 2px rgba(0,0,0,0.2);border-bottom:1px solid #DDDDDD;}
.shortcut h1{font-size:14px;font-family:"微软雅黑","宋体";}
.shortcut a,.shortcut h1{padding:0px 10px;letter-spacing:1px;color:#333;text-shadow:0px 1px 1px #fff;display:block;float:left;}
.shortcut a:hover{background:#fff;}
.shortcut span.right{float:right;}
.shortcut span.right a{float:left;display:block;color:#ff6600;font-weight:800;}
.headeline{height:40px;overflow:hidden;}
.adv960x90{width:960px;height:90px;overflow:hidden;border:solid 1px #E6E6E6;margin:0 auto;}
.adv728x90{width:728px;height:90px;overflow:hidden;border:solid 1px #E6E6E6;margin:0 auto;}
 *{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}

/* online */
#online_qq_tab a,.onlineMenu h3,.onlineMenu li.tli,.newpage{background:url(../img/float_s.gif) no-repeat;}
#onlineService,.onlineMenu,.btmbg{background:url(../img/float_bg.gif) no-repeat;}

#online_qq_layer{z-index:9999;position:fixed;right:0px;top:0;margin:150px 0 0 0;}
#mobile_online_qq_layer{z-index:9999;position:fixed;right:0px;top:0;margin:300px 0 0 0;}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
*html #online_qq_layer{position:absolute;top:expression(eval(document.documentElement.scrollTop));}

#online_qq_tab{width:28px;float:left;margin:30px 0 0 0;position:relative;z-index:9;}
#online_qq_tab a{display:block;height:118px;line-height:999em;overflow:hidden;}
#online_qq_tab a#floatShow{background-position:-30px -374px;}
#online_qq_tab a#floatHide{background-position:0 -374px;}

#onlineService{display:inline;margin-left:-1px;float:left;width:130px;display:none;background-position:0 0;padding:10px 0 0 0;}
.onlineMenu{background-position:-262px 0;background-repeat:repeat-y;padding:0 15px;}
.onlineMenu h3{height:36px;line-height:999em;overflow:hidden;border-bottom:solid 1px #ACE5F9;margin:0px;}
.onlineMenu h3.tQQ{background-position:0 10px;}
.onlineMenu h3.tele{background-position:0 -47px;}
.onlineMenu li{height:36px;line-height:36px;border-bottom:solid 1px #E6E5E4;text-align:center;}
.onlineMenu li.tli{padding:0 0 0 24px;font-size:12px;text-align:left;}
.onlineMenu li.zixun{background-position:0px -131px;}
.onlineMenu li.fufei{background-position:0px -190px;}
.onlineMenu li.phone{background-position:0px -244px;}
.onlineMenu li a.newpage{display:block;height:36px;line-height:999em;overflow:hidden;background-position:5px -100px;}
.onlineMenu li img{margin:8px 0 0 0;}
.onlineMenu li.last{border:0;}
.onlineMenu ul{margin-bottom:0px;}
.wyzx{padding:8px 0 0 5px;height:57px;overflow:hidden;background:url(../img/webZx_bg.jpg) no-repeat;}

.btmbg{height:12px;overflow:hidden;background-position:-131px 0;}
@media screen and (max-width: 762px) {
	.row{
		margin-left:0!important;
		margin-right:0!important;
	}
	.padding-l-r0{
		padding-left: 0!important;
		padding-right: 0!important; 
	}
   h3.news-time b{
		font-size:20px!important;
	}
	.news-style{
		font-size: 12px!important;
	}
	h2{
		font-size: 30px!important;
	}
	.container .container-title{
		text-align: center!important;
	}
	.carousel-style{
		height: 220px!important;
	}
	.carousel-bg-img{
		background-image: none!important;
	}
	.carousel-menu{
		bottom: -10%!important;
	}
	.menubgc{
		display: flex;
		flex-flow: row wrap;
		align-self: center;
		height: 50px!important;
  	}
	.menu-img{
		height: 30px;
		width: 30px;
		padding-top: 0px!important;
	}
	.menu-lei a{
		padding: 1px 0px 0px 2px!important;
    	font-size: 10px!important;
	}
	.menu-lei li{
		margin-left: 20px!important;
	}
	.acdivtop{
		height: auto!important;
		margin-bottom:20px;
	}
	.td-style{
		padding: 0px 15px 0px 15px;
	}
	.p-text{
		padding: 0px 10px 0px 10px
	}
	.m-row{
		padding: 0px 10px 0px 10px;
	}
	.padding-row{
		padding: 0px 10px 0px 10px!important;
	}
	.img-top{
		margin-top: 10px;
	}
	.cart-select-1{
		margin:10px 0px 0px 0px!important;
		width: 100%!important;
	}
	.cart-select-2{
		margin:10px 0px 0px 0px!important;
		width: 100%!important;
	}
	.textarea-style{
		width:auto!important;
		margin-left: 0px!important;
		border: 1px solid rgb(168,168,168);
		width: 100%!important;
	}
	.panel-input-float{
		margin-left: 0px!important;
		width:100%!important;
	}
	.panel-left{
		margin-left: 0px!important;
	}
	.w-s-g-c{
		margin-left: 15px;
	}
	.w-total{
		padding: 0px;
	}
	.w-btn{
		width:100%;
		margin-top:10px;
	}
	.shop-cart-total{
		margin-right: 25px!important;
		margin-top:15px!important;
	}
	.shop-cart-price span{
		margin-right:15px;
	}
	body{
		min-width:300px!important;
	}
}
body {
	min-width:1200px;
    font-family:"微软雅黑", Helvetica, Arial, sans-serif;
    line-height:28px;
	font-size:14px;
}

h2{
	font-size:38px;
}

li{
	list-style:none;
}

button,button:focus{
   outline:none;
   box-shadow: none;
}

.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    padding-top: 20px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}

small{
	color:rgb(153,153,153);
}

.navbar-header{
	float:left;
	padding:12px;
}

.nav{
	float:right;
}

.nav li{
	float:left;
}
input{
	border:1px solid #ccc ;
	background-color: white;
}
input:hover{
	border:1px solid rgb(26,180,248);
	background-color: white;
}
.menu-lei{
	float: left;
}
.menu-lei li{
	float: left;
	list-style-type: none;
	margin-left:40px;
}

.menu-lei img{
	float:left;
}

.menu-lei a{
	float:left;
	padding:4px;
	font-size:24px;
}

.menu-lei input{
	border:none;
}

.carousel-inner{
	height:100%;
}
.right-10{
	margin-right: 10px;
}
.left-10{
	margin-left: 10px;
}
.pagemenu{
	height: 80px;
	margin-top: 120px
}
.padding-0{
	padding:0
}
.foot-text-color{
	color: #fff;
	font-weight:400;
}
.btn-blue-whitef{
	background-color:#1bb4f8;
	border:none;
	color: white;
}
.btn-blue-whitef:hover{
	border:none!important;
	background-color: #1bb4f8;
	color:white!important;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;
}

.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #9170E4;
    width:100%
}
.menu-top-active ,.navbar-nav li:hover{
    background-color:rgb(26,180,248);
}

.navbar {
	border:0px;
}

.nav  .menu-top-active  > a{
	color:#fff;
}

.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);
}

.navbar {
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}

.nav > li > a{
	padding:26px;
}

.navbar-toggle {
background-color: black;
border: 1px solid black;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

.header-section img,.superiority-section img{
	width:100%;
}

.container .container-title{
	margin-bottom:30px;
}



.container .container-title small{
	font-size:50%;
}
.container .back-widget-set {
	padding:20px;
}

.container .img-responsive{
	margin:auto;
}
.carousel-indicators li,.carousel-indicators .active{
	background-color:#cccccc;
	width:16px;
	height:16px;
	margin:3px;
	transition:0.3s;
	border:0px;
}

.carousel-indicators .active{
	background-color:#1bb4f8;
	width:32px
}

.news-info>div{
	overflow:hidden;
	clear:right;
}

.btn-more{
	margin:20px 15px;
}

.label-hot{
	display:inline-flex;
	padding-top:5px;
	float:left;
}

h3.news-time{
	margin:0px;
	padding-bottom: 14px;
	padding-top:8px;
}
h3.news-time b{
		font-size:26px;
}
h3.news-title{
	font-size:20px;
	padding-top:2px;
	padding-left:5px;
	margin:0px;
	display:inline-table;
	line-height: 36px;
	margin-bottom: 12px;
	font-weight:bold;
	float:left;
	font-size:18px;
}

.news-info{
	margin-bottom:30px;
}

.news-info small{
	font-size:14px;
}

.banner-section img{
	margin:auto;
}

.footer-section{
	padding:25px 50px 25px 50px;
	color:#999;
    font-size:13px;
    background-color:#383d41;
}


.footer-section img{
	margin:auto;
	display:block;
}

.footer-section p{
	color:#fff;
}

.footer-section a{
	color:#999;
	padding:0px 5px;
}

.footer-section ul{
	padding-left:0px;
}

.footer-section li{
	list-style:none;
	float:left;
}

.footer-section td:nth-child(1){
	width:40px;
	text-align:left;
}

.footer-section tbody tr{
	height:40px;
}

.footer-section li:nth-child(odd){
	width:120px;
}

.bottom{
	border-top:solid 1px rgb(75,80,84);
	margin-top:10px;
	padding-top:30px;
}

.footer-section{
	padding-bottom:50px;
}
.footertext{
	font-size: 14px;
}

/* =============================================================
   INDEX STYLES
 ============================================================ */
.carousel-bg-img{
	background-image: url('../img/bannerbg.jpg');
	background-repeat: no-repeat;
	background-position:center;
	height: 590px
}
.carousel-img-style{
	width:930px;
	height: 460px; 
	margin-top: 60px
}

/* =============================================================
   SERVICE STYLES
 ============================================================ */

.menubgc{
	border:1px solid rgb(238,238,238);
	border-radius:10px;
	box-shadow:2px 2px 2px rgb(238,238,238);
	height: 58px;
	padding-top: 12px
  }
.menuinput{
	border:none;
	background-color: white;
}
.text-center{
	font-size:14px;
}
.s-text{
	font-size:16px;
	width:360px;
	text-align:center;
}
.s-padding{
	padding:0;
	width:360px;
	float:left;
}
.service-top-div{
	margin-top:55px;
	padding:0
}
.service-d-t{
	margin-top: 21px
}
.s-d-s{
	padding:0;
	text-align:center;
}
.huoban-style{
	background-color: rgb(234,234,234);
	margin-top:76px
}
/* =============================================================
   PRODUCT STYLES
 ============================================================ */

.b-img{
	border-radius: 2px;
	width: 324px;
	height: 324px;
}
.p-a a{
	color: #333
}
.imgblue{
	width: 324px;
	height: 324px;
	background-color: rgb(0	,127,255);
	opacity:0;
	border-radius: 2px;
	top:4.6%;
	transition: opacity 0.7s linear;
	position: absolute;
}
.imgblue:hover{
	background-color: rgb(0	,127,255);
	opacity:0.6;
	border-radius: 2px;
	top:4.6%;
	position: absolute;
}
.img-div{
	transition:margin-left 0.7s linear;
	margin-left:-20%;
	margin-top:35%;
	height: 324px; 
}
.imgblue:hover >.img-div{
	margin-left:5%;
	margin-top:35%;
}
.img-line{
	width: 55px;
	height: 2px; 
	margin-left: -5%;
}
.img-title{
	margin-top:5%;
	width:70%;
	color: white;
	font-size:14px;
	margin-left:19%;
}
.img-num{
	margin-top:16%;
	color: white;
	font-size:28px;
	margin-left:19%;
}
.img-text{
	margin-top:5%;
	color: white;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	margin-left:19%;
}
.goods-name{
	font-size: 16px;
	color: rgb(106,106,106);
}
.goods-price{
	color: rgb(182,182,182);
}
.g-pirce{
	color: rgb(26,180,248);
	margin-left:1%
}
.page{
	font-size:14px;
	height:30px;
	width:30px;
	text-align:center;
	margin-left: 3px
}
.page:hover{
	border:1px solid white;
	color:rgb(26,180,248);
}
.pagebutton:hover{
	border:1px solid rgb(26,180,248);
	background-color: rgb(26,180,248);
	color:white;
}
.pagebutton{
	width:60px;
	height:30px;
	font-size:14px
}

/* =============================================================
   CASE STYLES
 ============================================================ */
.casep{
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	width:322px;
}
.caseCp{
	color: rgb(51,51,51);
	font-size: 18px;
	font-weight: 500;
	margin-bottom:0px;
}
.caseSp{
	color: rgb(153,153,153);
	font-size:16px;
	margin-bottom:0px;
}
.casebutton{
	width:322px;
	margin:auto;
}
.casebutton input{
	margin-top: 3%;
	color: white;
	border:none;
	background-color: rgb(26,180,248);
	width: 122px;
	height: 40px;
	font-size:18px;
	border-radius: 5px;
}

.case-detail-img{
	width:322px;
	height:281px;
	background-image:url(../img/case.jpg);
	margin:auto;
	padding:13px
}

.case-detail-img>div{
width:296px;height:173px;overflow:hidden
}
.case-top-menu{
	padding: 0
}
.case-top-menu-li {
	margin-left: 70px!important;
}
.caseimg{
	cursor:pointer;
}
.case-top{
	margin-top:90px
}
.case-page-menu{
	height: 85px;
	margin-top: 114px;
}
.case-page-div{
	text-align: center;
}
.case-page-r{
	margin-right: 10px
}
.case-page-l{
	margin-left: 10px
}
/* =============================================================
   CASEDETAIL STYLES
 ============================================================ */
 .casedetail-bg-color{
 	background-color: rgb(237,238,240);
 }
 .casedetail-d-m-t{
 	margin-top:35px
 }
 .casedetail-m-t3{
 	margin-top: 3%
 }
 .casedetail-div-l{
 	float: left; margin-left:35%;
 }
 .casedetail-div-l img{
 	cursor:pointer;
 	border:1px solid rgb(210,210,210);
 }
 .casedetail-div-r{
 	float: right;
 	margin-right: 35%
 }
 .casedetail-div-r img{
 	cursor:pointer;
 	cursor:pointer;
 	border:1px solid rgb(26,180,248)
 } 

/* =============================================================
   ACTIVITY STYLES
 ============================================================ */
#atable tr:nth-child(odd){
	background-color: rgb(240,240,240);

}
.tdtitle{
	color: rgb(102,102,102);
	font-size: 24px;
	text-decoration: none;
}
.tdtime{
	color: rgb(153,153,153);
}
.tdtext{
	margin-top: 1%;
	color: rgb(102,102,102);
	line-height: 18px;
	clear: both;
}
.news-style{
	color:rgb(51,51,51);
	font-size: 18px;
}
.news-style:hover{
	color:rgb(51,51,51)!important;
	font-size: 18px;
}
.btn-gray{
	border:1px solid #c8c8c8;
	color: #c8c8c8;
}
.btn-gray:hover{
	border:1px solid #c8c8c8;
	color: #c8c8c8;
	background-color: white;
	cursor: default;	
}
/* =============================================================
   ACTIVITYDETAIL STYLES
 ============================================================ */
.m-l-5{
	margin-left: 5%;
}
.ac-d-h{
	padding-bottom: 50px;
}
.ac-d-m-t{
	margin-top: 10px;
}
.huodong-list-div{
	margin-top:35px; 
	border:1px solid rgb(220,220,220);
	clear: both;
}
.huodong-img{
	float: left;
}
.huodong-ul{
	margin-top:10px;
	color:rgb(26,180,248);
	padding-right: 5px
}

/* =============================================================
   ABOUT STYLES
 ============================================================ */

.border-b{
	border:none;border-bottom: 1px solid rgb(204, 204, 204);
}
.ddkj{
	color: rgb(26,180,248); 
	font-size: 24px;
}
.abouttext{
	margin-top: 25px;
}
/* =============================================================
   SHOPDETAIL STYLES
 ============================================================ */
.shop-goods-detail-iamges{
	text-align:center;
	padding-left:0px;
	margin-top:2%;
}

.shop-goods-detail-content{
	margin:20px 0; 
}
.shop-goods-title{
	margin-top:10px;
	text-align: center;
	max-width: 324px;
	margin-left: 5%
}

 .thumnbaiimg{
	width:124px;
	text-align:center;
	margin:0 5px;
	display:inline-block;
}

.thumnbaiimg img{
	height:80px;
}

 
.thumnbaiimg img:hover{
	border:2px solid rgb(26,180,248)!important;
	cursor: pointer;
}

.productmessage{
	background-color:rgb(26,180,248);
	color: white 
}
.productmessage:hover{
	background-color:rgb(26,180,248);
	color: white ;
	border:none;
}
.othersp{
	text-align: center; 
	background-color: rgb(38,40,43);
	height:50px; 
}
.othersp:hover{
	background-color: rgb(26,180,248);
}
.otherspimg:hover +.othersp{
	background-color: rgb(26,180,248);
}
.thu-b-img{
	max-height: 500px!important;
}
.thu-s-img{
	width: 80px;
	height: 80px;
}
.search-bgc{
	background: -webkit-linear-gradient(left, #f5f5f5 , #e8e8e8,#f5f5f5); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #f5f5f5 , #e8e8e8,#f5f5f5); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,#f5f5f5 , #e8e8e8,#f5f5f5); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #f5f5f5 , #e8e8e8,#f5f5f5); /* 标准的语法 */
	padding-bottom: 19px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.search-text{
	border-top-left-radius: 50px; 
	border-bottom-left-radius: 50px;
	height: 94px;
	text-align: center;
	font-size: 24px;
}
.search-btn{
	border-top-right-radius: 50px!important; 
	border-bottom-right-radius: 50px!important;
	width: 172px;
	height: 94px;
	background-image:url('../img/search.jpg')!important;
	border:none!important;
	outline:none!important;
}
.order-pad-top{
	padding-top:5px;
}
.order-tb{
	padding-left:28px
}
.order-tb span{
	color:#999999;
}
.order-tb-s2{
	margin-left:10px;
	letter-spacing:2px
}
.order-tb-s3{
	margin-left: 20px;
}
.order-tb-s4{
	color:#333333!important;
}
.order-tb-s5{
	font-size:14px;
	color:#333333!important;
}
.order-tb-s6{
	color:#333333!important;
}
.order-goods-list{
	padding-top:10px; 
	padding-bottom: 20px;
	float: left;
}
.order-goods-img{
	width: 78px; 
	height: 60px;
	border:1px solid #cccccc;
	border-radius:5px
}
.order-goods-title{
	width: 270px ;
	float: left;
	margin-top:12px;
	margin-left:15px
}
.order-message{
	border-left: 1px solid #e5e5e5;
	text-align: center;
}
.order-message span{
	color:#999999;
}
.order-status p{
	color:#999999;
}
.order-wl span{
	color: #333333;
}
.order-li-style{

}
.order-li-style li{
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 10px;
	list-style: none;
	border-left:1px solid #dfdfdf;
	margin-left:-35px;
}
.order-li-style li span{
	margin-left:56px;
}
.li-first-1{
	margin-left:0px!important;
}
.li-first-2{
	margin-left:30px
}
.li-first-3{
	margin-left:26px
}
.li-img{
	left: -16px; 
	position:relative ;
	top:0px
}
/* =============================================================
   SHOPCART STYLES
 ============================================================ */
.panel-body-div{
	margin-left: 18px;
	margin-top: 10px;
	clear: both;
	padding: 10px 0 0 0;
	height: auto;
}
.cart-select-1{
	margin-left: 20px; 
	height: 28px; 
	width: 150px
}
.cart-select-2{
	margin-left: 12px; 
	height: 28px; 
	width: 425px
}
.textarea-style{
	margin-left: 24px; 
	float: left;
	width: 591px;
	height: 76px;
	margin-top: 6px;
	resize:none;
}
.textarea-span{
	float: left;
}
.panel-heading-font{
	color:#999999;
}
.panel-span-float{
	float: left;
}
.panel-input-float{
	float: left;
	margin-left:24px;
	margin-top: 6px;
	width: 591px;
}
.panel-left{
	margin-left:-13px
}
.shopper-btn{
	width: 350px;
	height: 40px;
	margin-left:0px;
}
.panel-goods{
	margin-top: 15px;
}

.panel-goods:first-child{
	margin-top: 0px!important;
}

.shop-cart .shop-goods-img{
	width: 113px; 
	height: 85px; 
	display:inline-block;
	margin-left: 15px;
	border:1px solid #cccccc; 
	border-radius: 10px;
	overflow:hidden;
	float:left;
}
.shop-cart .shop-goods-checkbox{
	text-align:center;
	float:left;
}


.shop-cart .img-group .shop-goods-img img{
	height:100%;
	display:block;
	margin:auto;
}

.shop-cart-name span{
	margin-top: 15px;
	margin-left: 15px;
	font-size: 16px; 
	color:#333333
}
.shop-cart-price span{
	margin-left: 15px;
	margin-top: 12px;
	color: #1ab4f8;
}
.shop-cart-price{
	line-height:14px;
	margin-top:5px;
}
.shop-cart .shop-goods{
	margin-top: 20px;
	overflow:hidden;
	clear:both;
}

.shop-cart .shop-goods:first-child{
	margin-top:15px;
}

.shop-cart-price-m{
	color:#333333!important;
}


.shop-cart{
	background-color:#f4f4f4;
	color:#a0a0a0;
}

.shop-cart .shop-cart-count{
	float: right;
	margin-top:22px;
}

.shop-cart .panel{
	border-radius:1px;
	border:none;
	margin-bottom:16px;
}

.shop-cart .panel .panel-body{
	padding-top:0px;
}

.shop-cart .panel .shop-goods-checkbox{
	margin-top:30px;
}

.shop-cart .panel .shop-goods-info{
	padding-top:30px;
	float:left;
}

.shop-cart .panel .panel-heading{
	background-color:#fff;
}

.shop-cart .shop-cart-footer{

	border:none;
}

.shop-cart .shop-cart-footer .panel-body{
	padding-right:0px;
	padding-bottom:0px;
}

.shop-cart .shop-cart-footer .total{
	font-size:16px;
	border:none;
}

.shop-cart .shop-cart-footer .shop-cart-total{
	float:right;
}
.shop-cart-total{
	margin-right: 14px;
	margin-top: 4px
}

.shop-cart .shop-cart-footer .shop-goods-checkbox{
	margin-top:14px;
}


.shop-cart #order{
	float:right;
	padding:16px 100px;
	border-radius:0px;
}

.pay-code{
	float:none;
}

.pay-code a{
	padding:0px!important;
	background-color:#fff!important;
}

.pay-code p{
	text-align:center;
	font-size:16px;
}

.pay-code .pay-info p{
	text-align:left;
	
}

.pay-code li{
	margin-right:15px;
}

.pay-code li:last-child{
	width:580px;
}


.pay-code a{
	color:#989898;
}

.pay-code .active a{
	color:#1bb4f8!important;
}

.pay-code .pay-code-img{
	border:solid 1px #dddddd;
}

.pay-code .active .pay-code-img{
	border:solid 1px #1bb4f8;
}

.pay-code .pay-info:before
{
	content: '';
    display: inline-block;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #ccc;
    border-left-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 58px;
    left: 1px;
}

.pay-code .pay-info:after
{
	content: '';
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ffffff;
    position: absolute;
    top: 58px;
    left: 0px;;

}


.pay-code .pay-info{
	border-left: solid 1px #dddddd;
    padding-left: 15px;
    padding-top: 36px;
    height: 138px;
	float:left;
}

.pay-code .pay-cost{
	margin-top:50px;
	float:right;
}

.pay-code .pay-info span{
	color:#1bb4f8;
}


.pay-code .pay-cost span{
	color:#1bb4f8;
	font-size:24px;
}




/* =============================================================
   ACTIVITYDETAIL STYLES
 ============================================================ */
.p-text p{
	text-indent:28px;
}
.huodong{
	float: left; 
	margin-left: 1%;
	margin-top:2px;
	font-size: 20px;
	font-weight: 900;
	color:rgb(200,200,200);
}
.huodongli{
	margin-top:8px;
	margin-left:5px;
	color: rgb(153,153,153)!important;
}
.huodongli a:hover{
	color:  rgb(26,180,248);
}
.seotitile{
	font-weight: 700;
}
.acdivtop{
	margin-top:20px;
	height: 150px;
}
.acdivcontrol{
	 margin-left:2%;
	 width:96%
}

/* =============================================================
   WXPAY STYLES
 ============================================================ */
.wxpay-bg{
	background-image:url('../img/wxpaybg.png');
	width: 100%; 
	height: 100%;
	background-repeat: no-repeat;
}
.wxpay-div{
	position: absolute;
	top:100px;
	right: 360px ;
}
.wxpay-wx{
	position: absolute; 
	padding:10px 150px 10px 150px;
	right: 40px;
	box-shadow: 0px 0px 20px rgb(245,245,245);
}
.wxpay-pay{
	position: absolute;
	top:110px;
	right: 135px;
	background-color: rgb(167,167,167);
}
.wxpay-pay img{
	width:245px;
	height:245px;
	border:1px solid rgb(167,167,167);
}
.wxpay-img{
	position: absolute;
	top:380px;
	right: 135px
}
.wxpay-detail{
	width: 455px; 
	height: 80px; 
	box-shadow: 0px 0px 20px rgb(245,245,245);
	position: absolute; 
	top: 490px; 
	right: 40px; 
	border-right: none; 
	border-left: none;
}
.wxpay-detail img{
	position: absolute; 
	left: 213.5px; 
	top:-13.5px
}
.wxpay-detail div{
	text-align: center;
	padding-top: 25px
}
.wxpay-span{
	color:rgb(101,101,101); 
	font-size: 30px;
}
.wxpay-order{
	width: 455px;
	height: 80px; 
	box-shadow: 0px 0px 20px rgb(245,245,245);
	position: absolute; 
	top: 600px; 
	right: 40px
}
.wxpay-order table{
	width: 100%;
	border-collapse:separate; 
	border-spacing:0px 10px; 
	color: rgb(101,101,101);
	padding:0 5px 0 5px
}
.wxpay-tdl{
	text-align: left;
}
.wxpay-tdr{
	text-align: right;
}
/* =============================================================
   MOBILE STYLES
 ============================================================ */
.mobile-nav-btn{
	float: right;
	margin-right:1%!important;
	width: 104px
}
.m-btn{
	float: right;
}
.mobile-nav{
	position: absolute;
	display: none;
	top:85%;
	width: 150px;
	z-index: 1000;
	right: 0px;
}
.mobile-nav li{
	background-color: white;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.m-nav-active{
	background-color: rgb(30,180,247)!important;
}
.m-nav-active a{
	color:white;
}
/*.m-row{
	margin-left:0;
	margin-right:0;
}*/
