.bgd{
    background-color: #ce2520;
    width: 100rem;
    height: 130.2083333333333rem;
    position: absolute;
    top:0;
}
.bgd > div:nth-child(1){
    width: 62.5rem;
    height: 10.47916666666667rem;
    padding:14rem 18.75rem 1.5625rem 18.75rem;
}
.bgd > div:nth-child(1) > span{
    display: block;
}
.bgd > div:nth-child(1) > span:nth-child(1){
    color: #ce2520;
    font-size: 10.3125rem;
}
.bgd > div:nth-child(1) > span:nth-child(2){
    color:rgb(255,255,255);
    font-size: 2.5rem;
    position: relative;
    top: -6.5rem;
    left: 0.9rem;
}
.bgd > div:nth-child(2){
    height: 50.52083333333333rem;
    width: 62.5rem;
}
.bgd > div:nth-child(2) > div:nth-child(1){
    width: 59.375rem;
    height: 46.35416666666666rem;
    background-color: white;
    border-radius: 30px;
    padding:2.604166666666667rem 1.5625rem 1.5625rem 1.5625rem ;
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(1){
    background-color: #ce2520;
    width: 16.40625rem;
    height: 1.25rem;
    position: absolute;
    margin-left: -1.5625rem;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1.145833333333333rem;
    padding: 0.9375rem 0 0.9375rem 0.5208333333333333rem;
    color:white;
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > a{
    color: white;
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(2){
    position: absolute;
    margin-top: 3.125rem;
    height:40.10416666666667rem;
    width: 59.375rem;
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h1{
    text-align: center;
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h2{
    text-align: center;
    margin-top: 1.5625rem;
    font-weight: 500
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h3{
    text-align: center;
    margin-top: 1.041666666666667rem;
    font-weight: 500
}
.bgd > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4){
    text-indent: 2.083333333333333rem;
    margin-top: 3.125rem;
    max-height: 25.10416666666667rem;
    /*content: url(../images/detail/ChooseyourIMG（合并）.png);*/
}
.content-div > img {
    width: 26.04166666666667rem;
    height: 10.41666666666667rem;
}

.main-body{
    width: 100rem;
    /*min-height: 80rem;*/
    height: auto;
    background-color: #FFFFFF;
    padding-top: 6.5rem;
    margin-bottom: 2rem;
}
.blue{
    background-color: #bb565f;
}
.detail-news{
    width: 62.5rem;
    min-height: 50rem;
    margin:0 auto;
    background-color:white;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(153,153,153,0.8);
}
.news-nav{
    width: 16.92708333333333rem;
    height: 2.375rem;
    background-color: #bb565f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 1.5625rem;
    padding-top: 0.75rem;
}
.news-nav > nav > ul > li > a{
    color: #FFFFFF;
}
.news-nav > nav > ul > li{
    float: left;
}
.news-nav > nav {
    display: inline-block;
    height: auto;
}
.news-content{
    width: 100%;
    height: auto;
}
.wenben{
    padding: 4rem 2rem 6rem 2rem;
}
.prevornext{
    padding: 2rem 1rem;
    height:3rem;
    position: absolute;
    bottom: 0rem;
    padding-top: 0;
}
.prevornext > a{
    display: inline-block;
    width: 9.375rem;
    height: 3.125rem;
    background-color: #bb565f;
    color: white;
    text-align: center;
    line-height: 3.125rem;
    border-radius: 20px;
}
.prevornext > a:nth-child(2){
    float: right;
    margin-left: 40rem;
}