.info-title{
    color: #FFFFFF;
    position: absolute;
    top:22rem;
    left: 19rem;
}
.info-title>li:nth-child(1){
font-size: 1.8rem;
}
.info-title>li:nth-child(2){
    font-size: 4rem;
}
.top-banner{
    width: auto;
    height: 31.25rem;
    position: relative;
    top: 0;
}
.top-banner > img{
    width: 100rem;
    height: 31.25rem;
}
.window{
    width: 62.5rem;
    height: 54.6875rem;
    background-color:#FFFFFF;
    position:relative;
    padding:2.604166666666667rem 18.75rem 5.208333333333333rem 18.75rem;
}
.row-news{
    height: 26.04166666666667rem;
           position: relative;
}
.row-news > div{
    /*float: left;*/
    border-radius: 20px;
    padding-top: 2.34375rem;
    padding-left: 2.34375rem;
    padding-bottom: 2.604166666666667rem;
    height: 21.09375rem;
    position: absolute;
}
.row-news div:nth-child(1){
    background-color:white;
    width:42.1875rem;
    padding-right:2.34375rem;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(153,153,153,0.8);
}
.row-news > div:nth-child(2){
    background-color:white;
    width:13.02083333333333rem;
    /*margin-left:0.2604166666666667rem;*/
    margin-left: 47.5rem;
    box-shadow: 1px 1px 10px rgba(153,153,153,0.8);
}
.window > div:nth-child(n+2){
    margin-top: 2.604166666666667rem
}
.row-news div span{
    color: #bb565f;
    position: absolute;
    font-size: 1.458333333333333rem;
    display: block;
    margin-top: -0.2604166666666667rem;
    margin-left: 1.1rem;
}
.row-news > div > div {
    height: 7.8125rem;
    background-color: rgb(119,119,119);
    width:13.02083333333333rem;
    float: left;
}
.row-news > div > div:nth-child(2){
    margin-top: 3.125rem;
    background-color:rgb(119,119,119);
    margin-left: -0.0520833333333333rem;
}
.row-news > div > div > img{
    height: 7.8125rem;
    width:13.02083333333333rem;
    cursor: pointer;
}
.row-news > div > div:nth-child(3){
    margin-top: 3.125rem;
    margin-left: 0.78125rem;
}
.row-news > div > div:nth-child(4){
    margin-top: 3.125rem;
    margin-left: 0.78125rem;
}
.row-news > div > div:nth-child(5){
    margin-top: 2.083333333333333rem;
}
.row-news > div > div:nth-child(6){
    margin-top: 2.083333333333333rem;
    margin-left: 0.7291666666666667rem;
}
.row-news > div > div:nth-child(7){
    margin-top: 2.083333333333333rem;
    margin-left: 0.7291666666666667rem;
}
.row-news > div > div:nth-child(8){
    height: 2.34375rem!important;
    width: 3.125rem;
    background-color:#bb565f;
    position: absolute;
    margin-top:-0.5208333333333333rem;
    margin-left:-2.4rem;
}
.row-news > div:nth-child(2) > div:nth-child(2){
    height: 2.34375rem!important;
    width: 3.125rem;
    background-color:#bb565f;
    position: absolute;
    margin-top:-0.5208333333333333rem;
    margin-left:-2.385416666666667rem;
}
.row-news > div:nth-child(2) > p:nth-child(3){
    margin-top: 4.427083333333333rem;
}
.row-news > div:nth-child(2) > p{
    margin-top: 1.041666666666667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 11rem;
}
.row-news > div:nth-child(2) > p > a{
    color:#333333;
font-size: 13px;
}
.foot{
    width: 62.5rem;
    height: 52.08333333333333rem;
    background-color: white;
    position: absolute;
    top:93.75rem;
    padding:0 18.75rem 0 18.75rem;
}
.news-foot{
    height: 45.64583333333333rem;
    position: relative;
    top: 93.75rem
}
.news-foot span{
    color: #000000;
}
.news-foot a{
    color: #000000;
}
.news-foot input{
    border:0.1041666666666667rem solid #000000!important;
    color: #000000!important;
}
.blue-border{
    border: 2px solid #bb565f;
    top: 38rem;
}
.down-span{
    top:38rem;
}