<div class="nav">
    <div>
        <img class="logo" src="__STATIC__/images/logo.png" alt="">
    </div>
    <div>
        <ul>
            <li><a href="{:url('index/index')}">首页</a></li>
            <li><a href="{:url('fast/index')}">极速猎头服务</a></li>
            <li><a href="{:url('about/index')}">关于我们</a></li>
            <li><a href="{:url('server/index')}">服务保障</a></li>
            <li><a href="{:url('news/index')}">资讯中心</a></li>
            <li>
                <span class="nav-tel">13718767011</span>
            </li>
        </ul>
    </div>
</div>