{template header}




<div id="fsD1" class="focus">  
    <div id="D1pic1" class="fPic">
    {php $i=1;}
    	{list action=position id=2}
        <div class="fcon" {if $i==1}style="display: block;"{else}style="display: none;"{/if}><div><a href="{$t['url']}" target="_blank"><img src="{$t['thumb']}" style="opacity: 1; "></a></div></div>
        {php $i++;}
        {/list}
        
  </div>
    <div class="fbg">  
		<div class="D1fBt" id="D1fBt">  
			<a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>  
		</div>  
    </div> 
    <span class="prev"></span>   
    <span class="next"></span>
    <div class="btbl"></div>
        
</div> 

<script type="text/javascript">
	Qfast.add('widgets', { path: "{SITE_THEME}js/terminator2.2.min.js", type: "js", requires: ['fx'] });  
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id  
			conId: "D1pic1",  //** 大图域包裹id  
			tabId:"D1fBt",  
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class       
			auto: 1,   //自动播放 1或0
			effect: 'fade',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class                          
			interval: 4000  //** 停顿时间  
		}) 
	})  
</script>

<script type="text/javascript" src="{SITE_THEME}js/countUp.min.js"></script>
<div class="nf1">
	<div class="nf1z">
    	<div class="nf1z-a">
        	<p><font>{$cats[30]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[30]['setting']['descritext']}</span></p>
        </div>
        <div class="nf1z-b" id="wrap">
        	<ul>
        		{php $i=1;}
        		{list catid=30 order=listorder_asc more=1}
            	<li {if $i==2}style="width:320px;"{/if}>
                	<div class="nf1z-b1"><img src="{$t['thumb']}" /></div>
                    <div class="nf1z-b2">
                    	<div>
                    		<span class="jumbo" id="myTargetElement{$i}">{$t['description']}</span>
                    		{if $i==4}
                    		<font>H</font>
                    		{else}
                    		<font>+</font>
                    		{if $i==5}
                    		<span class="jumbo" id="myTargetElement6">{clearhtml($t['content'])}</span>
                    		{/if}
                    		{/if}
                    	</div>
                    </div>
                    <div class="nf1z-b3">{$t['title']}</div>
                </li>
                {php $i++;}
                {/list}
                
            </ul>
        </div>
    </div>
</div>




<script type="text/javascript">
	var options = {
	  useEasing : true, 
	  useGrouping : true, 
	  separator : ',', 
	  decimal : '.', 
	  prefix : ' ', 
	  suffix : ' ' 
	};
var Element1=document.getElementById("myTargetElement1");
var demo = new CountUp("myTargetElement1", 0,   Element1.innerHTML, 0, 2.5, options);
var Element2=document.getElementById("myTargetElement2");
var demo2 = new CountUp("myTargetElement2", 0,  Element2.innerHTML, 0, 2.5, options);
var Element3=document.getElementById("myTargetElement3");
var demo3 = new CountUp("myTargetElement3", 0,  Element3.innerHTML, 0, 2.5, options);
var Element4=document.getElementById("myTargetElement4");
var demo4 = new CountUp("myTargetElement4", 0,  Element4.innerHTML, 0, 2.5, options);
var Element5=document.getElementById("myTargetElement5");
var demo5 = new CountUp("myTargetElement5", 0,  Element5.innerHTML, 0, 2.5, options);
var Element6=document.getElementById("myTargetElement6");
var demo6 = new CountUp("myTargetElement6", 0,  Element6.innerHTML, 0, 2.5, options);
$(window).scroll(function(){
	if($(window).scrollTop()>=250){
		demo.start();
		demo2.start();
		demo3.start();
		demo4.start();
		demo5.start();
		demo6.start();
	}
})
</script>



<div class="nf2">
	<div class="nf2z">
    	<div class="nf1z-a">
        	<p><font>{$cats[7]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[7]['setting']['descritext']}</span></p>
        </div>
        <div class="nf2z-b">
        	<div class="mr_frbox1">
                <img class="mr_frBtnL prev" src="{SITE_THEME}images/lef1.png"  onmouseover="this.src='{SITE_THEME}images/lef2.png';" onmouseout="this.src='{SITE_THEME}images/lef1.png';"/>
                <div class="mr_frUl1">
                    <ul>
                    	{list catid=7 order=listorder_desc,updatetime_desc more=1}
                        <li>
                        	<div class="mr_fra"><a href="{block(16)}" title="" target="_blank"><img src="{$t['thumb']}" /></a></div>
                            <div class="mr_frb">
                            	<div class="mr_frb1"><span>{$t['title']}</span><font>{$t['xingye']}</font></div>
                                <div class="mr_frb2">{$t['description']}</div>
                                <div class="mr_frb3"><a href="{block(16)}" title="" target="_blank">在线咨询</a></div>
                            </div>
                        </li> 
                        {/list} 
                    </ul>
                </div>
                <img class="mr_frBtnR next" src="{SITE_THEME}images/rig1.png"  onmouseover="this.src='{SITE_THEME}images/rig2.png';" onmouseout="this.src='{SITE_THEME}images/rig1.png';"/>
            </div>
        </div>
    </div>
</div>

<div class="nf3">
	<div class="nf3z">
    	<div class="nf1z-a">
        	<p><font>{$cats[31]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[31]['setting']['descritext']}</span></p>
        </div>
        <div class="nf3z-b">
        	<ul>
        		{list catid=31 order=listorder_asc more=1}
            	<li>
                	<div class="nf3z-b1"><div><img src="{$t['thumb']}" /></div></div>
                        <div class="nf3z-b2">{if $t['title']=='房地产/建筑/物业'}<a href="/realestate/">{$t['title']}</a>{else} {$t['title']}{/if}</div>
                </li>
                {/list}
                
            </ul>
        </div>
    </div>
</div>        
        
        
        
        
        
        
<div class="nf4">
	<div class="nf4z">
    	<div class="nf1z-a">
        	<p><font>{$cats[32]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[32]['setting']['descritext']}</span></p>
        </div>
        <div class="nf4z-b">       
        	<ul>
        	{php $i=1;}
        		{list catid=32 order=listorder_asc more=1}
        		{if $i>1}
        		<li class="nf4z-b2"><img src="{SITE_THEME}images/cjt1.png" /></li>
        		{/if}
            	<li class="nf4z-b1">
                	<div class="nf4z-b1a"><div><img src="{SITE_THEME}images/lc{$i}.png"   onmouseover="this.src='{SITE_THEME}images/lch{$i}.png';" onmouseout="this.src='{SITE_THEME}images/lc{$i}.png';"/></div></div>
                    <div class="nf4z-b1b">
                    	<p><span>{$t['title']} </span></p>
                        <div>{html_entity_decode($t['description'])}</div>
                    </div>
                </li>
                {php $i++;}
                {/list}
                
                
                
            </ul>
        
        </div>
    </div>
</div>         
        
<div class="nf5">
    <div class="nf5z">
        <div class="nf1z-a">
            <p><font>{$cats[33]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[33]['setting']['descritext']}</span></p>
        </div>
        <div class="nf5z-b"> 
        	<div class="mr_frbox2">
                <img class="mr_frBtnL prev" src="{SITE_THEME}images/lef1.png"  onmouseover="this.src='{SITE_THEME}images/lef2.png';" onmouseout="this.src='{SITE_THEME}images/lef1.png';"/>
                <div class="mr_frUl2">
                    <ul>
                    	{list catid=33 order=listorder_desc,updatetime_desc}
                        <li>
                        	<div class="mr_fra"><a href="{$t['description']}" title="" target="_blank"><img src="{$t['thumb']}" /></a></div>
                            <div class="mr_frb"><a href="{$t['description']}" title="" target="_blank">{$t['title']}</a></div>
                        </li> 
                        {/list}
                         
                    </ul>
                </div>
                <img class="mr_frBtnR next" src="{SITE_THEME}images/rig1.png"  onmouseover="this.src='{SITE_THEME}images/rig2.png';" onmouseout="this.src='{SITE_THEME}images/rig1.png';"/>
            </div>    
        </div>
    </div>
</div>       
{php $arr=array(29,2,3,26,27,28);}       
<!-- <div class="nf6">
    <div class="nf6z"> 
    	<div class="nf6z-a">
        	<div class="nf6z-a1">
            	<p><span>{$cats[1]['catname']}</span></p>
                <p><i></i></p>
            </div>
            <div class="nf6z-a2">
            	<ul class="tab-hd">
                	<li><a href="{$cats[29]['url']}" title="企业动态">企业动态</a></li>
					<li><a href="{$cats[2]['url']}" title="">HR文库</a></li>
					<li><a href="{$cats[3]['url']}" title="">职场分享</a></li>
					<li><a href="{$cats[26]['url']}" title="">热点推送</a></li>
					<li><a href="{$cats[27]['url']}" title="">行业资讯</a></li>
					<li class="jgm"><a href="{$cats[28]['url']}" title="">人才研究</a></li>
					
                </ul>
                <span><a href="{$cats[1]['url']}" title="">查看更多+</a></span>
            </div>
            <div class="nf6z-a3 tab-bd">
            	{php $i=1;}
        		{loop $arr $s}
            	<div class="nf6z-a3a {if $i==1}thisclass{/if}" {if $i!=1}style="display:none;"{/if}>
            		{php $ids=$s;}
            		{list catid=$ids order=listorder_desc,updatetime_desc num=1}
                	<div class="nf6z-a3a1">
                    	<div class="nf6z-a3a1a"><a href="{$t['url']}" title="{$t['title']}"><img src="{$t['thumb']}" /></a></div>
                        <div class="nf6z-a3a1b">
                        	<p><a href="{$t['url']}" title="{$t['title']}">{$t['title']}</a><span>{date('Y-m-d',$t['updatetime'])}</span></p>
                            <div>{$t['description']}</div>
                        </div>
                    </div>
                    {/list}
                    <div class="nf6z-a3a2">
                    	<ul>
                    		{list catid=$ids order=listorder_desc,updatetime_desc num=1,4}
                        	<li><a href="{$t['url']}" title="{$t['title']}">{$t['title']}</a><span>{date('Y-m-d',$t['updatetime'])}</span></li>
                        	{/list}
                            
                        </ul>
                    </div>
                </div>
                {php $i++;}
            	{/loop}

            </div>
        </div>
        <div class="nf6z-b">
        	<div class="nf6z-a1">
            	<p><span>{$cats[25]['catname']}</span></p>
                <p><i></i></p>
            </div>
            <div class="nf6z-b2">{$cats[25]['setting']['descritext']}</div>
            <div class="nf6z-b3">
            	<div style="overflow: hidden;" class="fa_con" id="ulQuestion">
                    <table style="border-collapse:collapse; width:100%;"  cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                {list catid=25 order=listorder_desc,updatetime_desc num=10 more=1}
                                <dl>
                                	<dt><a href="{$t['url']}" title="{$t['title']}"><span class="fa_con1">{$t['qiye']}</span><span class="fa_con2">{$t['gangwei']}</span><span class="fa_con3">入职成功</span></a><font>{date('Y-m-d',$t['updatetime'])}</font></dt>
                                </dl>
                                {/list}
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    
                    <script type="text/javascript">
               			 new Marquee("ulQuestion", 0, 1, 585, 475, 40, 0, 1000, 22);
            		</script> 
            </div>
        </div>      
    </div>
</div>  -->


<div class="nf6">
    <div class="nf6z">
        <div class="nf1z-a">
            <p><font>{$cats[25]['catname']}</font></p>
            <p><i></i></p>
            <p><span>{$cats[25]['setting']['descritext']}</span></p>
        </div>
        <div class="nf6z-b" style=" float: left;"> 
			<div style="overflow: hidden;" class="fa_con" id="ulQuestion">
                <table style="border-collapse:collapse; width:100%;"  cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                            {list catid=25 order=listorder_desc,updatetime_desc num=10 more=1}
                            <dl>
                            	<dt><a href="{$t['url']}" title="{$t['title']}"><span class="fa_con1">{$t['qiye']}</span><span class="fa_con2">{$t['gangwei']}</span><span class="fa_con3">入职成功</span></a><font>{date('Y-m-d',$t['updatetime'])}</font></dt>
                            </dl>
                            {/list}
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
                <script type="text/javascript">
           			 new Marquee("ulQuestion", 0, 1, 615, 475, 40, 0, 1000, 22);
        		</script> 
    	</div>
    	<div class="nf6z-b"> 
			<div style="overflow: hidden;" class="fa_con" id="ulQuestiona">
                <table style="border-collapse:collapse; width:100%;"  cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                            {list catid=25 order=listorder_desc,updatetime_desc num=10,20 more=1}
                            <dl>
                            	<dt><a href="{$t['url']}" title="{$t['title']}"><span class="fa_con1">{$t['qiye']}</span><span class="fa_con2">{$t['gangwei']}</span><span class="fa_con3">入职成功</span></a><font>{date('Y-m-d',$t['updatetime'])}</font></dt>
                            </dl>
                            {/list}
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
                <script type="text/javascript">
           			 new Marquee("ulQuestiona", 0, 1, 585, 475, 40, 0, 1000, 22);
        		</script> 
    	</div>      
    </div>
</div>















<!--<script type="text/javascript" src="{SITE_THEME}js/jquery.movingboxes.js"></script>

<script type="text/javascript">
$(function(){
	$('#focus').movingBoxes({
		startPanel   : 1,       // 从第一个li开始
		reducedSize  : .83,      // 缩小到原图50%的尺寸
		wrap         : true,   // 无缝循环
		buildNav     : true,	// 显示指示器效果
		navFormatter : function(){ return "&#9679;"; } // 指示器格式，为空即会显示123
	});
});
</script>-->
<div class="xw">
	<div class="xwt">
		<div class="xwt-a">
        	<h1>NEWS</h1>
        	<div><span>新闻资讯</span></div>
            <p><font>{$cats[1]['setting']['descritext']}</font></p>
        </div>
        <div class="xwt-b">
        
<link rel="stylesheet" type="text/css" href="{SITE_THEME}css/reset.css">
<link rel="stylesheet" type="text/css" href="{SITE_THEME}css/index2018.css">
<link rel="stylesheet" type="text/css" href="{SITE_THEME}css/swiper-3.4.2.min.css">
<script type="text/javascript" src="{SITE_THEME}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="{SITE_THEME}js/index2018.js"></script>
        <section class="xw-wrap">
          <div class="xw-content">
            <div class="swiper-container xw-swiper swiper-container-horizontal" id="xwSwiper">
              <div class="swiper-wrapper" id="xwSwiperContainer" >
              
				{list action=position id=8}
                <div class="swiper-slide">
                  <div class="news-item">
                    <h2>{$t['title']}</h2>
                    <div class="news-detail">
                      <p>{$t['description']}</p>
                      <a href="{$t['url']}" class="fr moredetails" taregt="_blank">查看详情...</a></div>
                    <div class="news-abs">
                      <h3><span>{$cats[$t['catid']]['catname']}</span><span class="time">{date('Y年m月d日',$t['updatetime'])}</span></h3>
                    </div>
                  </div>
                </div>
                {/list}
        	  </div>
            </div>
          </div>
          
        </section>
        
        
        
        
        
        
        
        
        
            <!--<ul id="focus">
				{list action=position id=8}
                <li>
                	<div class="xw-b1">
                    	<div class="xw-b1-a">
                        	<h1>{$t['title']}</h1>
                            <p><i></i></p>
                        </div>
                        <div class="xw-b1-b">
                        	<div>
                            	{$t['description']}
                            </div>
                            <p><a onclick="javascrit:window.open('{$t['url']}')" title="{$t['title']}">查看详情...</a></p>
                        </div>
                        <div class="xw-b1-c"><span>{$cats[$t['catid']]['catname']}</span><font>{date('Y年m月d日',$t['updatetime'])}</font></div>
                    </div>
                </li>
				{/list}
              
            </ul>-->
            
            
            
            
        </div>
	</div>
</div>





<script type="text/javascript">
$(".mr_frbox1").slide({titCell:"",mainCell:".mr_frUl1 ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});
$(".mr_frbox2").slide({titCell:"",mainCell:".mr_frUl2 ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:6});
</script>


<script>
$(function(){
    function tabs(tabTit,on,tabCon){
        $(tabTit).children().hover(function(){
            $(this).addClass(on).siblings().removeClass(on);
            var index = $(tabTit).children().index(this);
           	$(tabCon).children().eq(index).show().siblings().hide();
    	});
	};
    tabs(".tab-hd","active",".tab-bd");
});
</script>




{template footer}