<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>web</title>
        <link href={SITE_THEME}css/app.05ad22a5712e9d4a29dab3c2711862c8.css rel=stylesheet>
    </head>
    <body>
        <div id=app>

        </div>
        <script type=text/javascript src={SITE_THEME}js/manifest.3ad1d5771e9b13dbdad2.js>

        </script><script type=text/javascript src={SITE_THEME}js/vendor.03d0ddbc0c8bb7cf3678.js>

        </script><script type=text/javascript src={SITE_THEME}js/app.8e6d017eebedb00927e7.js>

        </script></body></html>