{extend name="common/common"/}
{block name="body-menu"}
{include file="image/menu" /}
{/block}
{block name="body-main"}
<div class="pageheader notab">
    <if condition='#'>

        <else/>
        <h1 class="pagetitle">图片中心 <small><a >添加</a></small></h1>
    </if>
</div>

<div id="contentwrapper" class="contentwrapper">

    <div class="contenttitle2">
        <h3>图片中心列表</h3>
    </div>

    <table class="table table-striped table-bordered table-hover no-footer" >
        <thead>
        <tr>
            <th>ID</th>
            <th>图片</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
                <tr>
                    <td  style="text-align: left" class="gai"><input class="textbtn"  type="text" style="border:none" readonly="readonly" value="{$i}"></td>
                    <td class="gai"><img src="__STATIC__{$vo['urlposition']}{$vo['name']}" style="width: 243px" alt=""></td>
                    <td width="200">
                        <a href="admin/image/edit.html?id={$vo['Id']}" class="btn btn-xs  btn-primary xiugai">修改</a>
                        <input type="button" class="btn btn-xs btn-danger " value="删除">
                    </td>
                </tr>
        {/volist}
        </tbody>
    </table>

    <ul class="pagination">

    </ul>
</div>

{/block}
{block name="footer-ext"}

{/block}