{extend name="common/common"/}
{block name="body-menu"}
{include file="image/menu" /}
{/block}
{block name="body-main"}

<div class="centercontent">

    <div class="pageheader notab">
        <h1 class="pagetitle">Logo <small></small></h1>
    </div>

    <div id="contentwrapper" class="contentwrapper">

        <div class="contenttitle2">
            <h3>修改Logo</h3>
        </div>

        <form method="post" action="" class="form-horizontal" data-parsley-validate="true" >
            <input type="hidden" name="id" value="">

            <div class="form-group" style="display: none">
                <label class="col-md-3 control-label">广告位置</label>
                <div class="col-md-9">
                    <select name = "position_id" class="uniformselect" required>

                        <option> - 请选择 - </option>
                        <option value="1">WEB首页顶部大图</option>
                        <option value="2">WEB首页轮播图</option>
                        <option value="15">服务项目顶部大图</option>
                        <option value="16">服务项目大图</option>
                        <option value="26">最新活动顶部大图</option>
                        <option value="17">服务项目底部合作伙伴</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">类型</label>
                <div class="col-md-9">
                    <select name = "type_id" class="uniformselect" required>
                        <!--<option> - 请选择 - </option>-->
                        <option data-link = "0" value="1">图片 - 无跳转</option>
                        <!--<option data-link = "1" value="2">图片 - 跳转链接</option>-->
                    </select>
                </div>
            </div>


            <div class="form-group" data-type="1,2">
                <label class="col-md-3 control-label">图片</label>
                <div class="col-md-9">
                    <input type="upload" name="icon" value=""/>
                </div>
            </div>


            <div class="form-group" data-type="3">
                <label class="col-md-3 control-label">文字标题</label>
                <div class="col-md-9">
                    <input type="text" name="title" class="form-control" placeholder="输入文字标题" value=""/>
                </div>
            </div>

            <div class="form-group" style="display: none">
                <label class="col-md-3 control-label">广告名称</label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" placeholder="输入广告名称" value="" required />
                </div>
            </div>



            <div class="form-group" id="link">
                <label class="col-md-3 control-label">链接地址</label>
                <div class="col-md-9">
                    <input type="text" name="url" class="form-control" placeholder="输入链接URL地址" value=""/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-sm btn-primary">确定提交</button>
                </div>
            </div>

        </form>

    </div>

</div>



<!--
<link rel="stylesheet" href="assets/plugins/h5upload/h5upload.css" rel="stylesheet" />
<script src="assets/plugins/h5upload/h5upload.js"></script>


-->

<!--<script type="text/javascript" src="__STATIC__/js/custom/general.js"></script>-->

{/block}
{block name="footer-ext"}
<script>
    (function($){
        $('[name=type_id]').change(function(){
            var type = $(this).val();
            $('[data-type]').each(function(i,e){
                var rs = $(e).attr('data-type').split(',');
                var hidden = true;
                for(var o in rs){
                    if(rs[o] == type){
                        hidden = false;
                        break;
                    }
                }

                if(hidden){
                    $(this).hide();
                }else{
                    $(this).show();
                }

            });
            if($(this).find("option:selected").attr('data-link') == 1){
                $('#link').show();
            }else{
                $('#link').hide();
            }
        }).change();
    })(jQuery);
</script>
{/block}