.banner{
    background-color: #ffffff;
}
.bimgc > img{
    width: 100%;
    position: relative;
    top: -1rem;
}
.bcontentc{
    width: 100%;
    height: auto;
}
.btitle{
    color: #333333;
    font-size: 4rem;
    margin-left: 10rem;
    display: block;
}
.btitle:before{
    width: 4rem;
    height: 6rem;
    background-color: #bb565f;
    display: inline-block;
    position: relative;
    top: 1.5rem;
    left: -4rem;
    content: "";
}
.bnfxhjj{
    display: block;
    width: 94%;
    margin: 4rem auto 0 auto;
    font-size: 3rem;
    color:#333333;
    text-indent: 3rem;
    line-height: 5.6rem;
}
.banneradd{
    background-color: #ffffff;
}
.creater > img{
    display: block;
    margin: 11rem auto 14rem auto;
    height: 63rem;
}
.creater-detail{
    width: 94%;
    height: auto;
    margin: 0 auto;
}
.btitle-b{
    color: #333333;
}
.btitle-b:before{
    background-color: #bb565f;
}
.bnfxhjj-b{
    color: #333333;
    margin: 6rem auto 0 auto;
}
.mtbd{
    background-color: #ffffff;
}
.mttitle{
    display: block;
    position: relative;
    top: 1.5rem;
    text-align: center;
    width: 100%;
    color: #333333;
}
.title-h1{
    font-size: 4rem;
    color: #333333;
    display: block;
    margin: 10rem auto 0 auto;
    width: 16rem;
    height: 5rem;
}
.title-h1:after{
    width: 22rem;
    display: block;
    height: 0.3rem;
    background-color: #bb565f;
    content: "";
    position: relative;
    top: 3rem;
    left: -3rem;
}
.mtbd > div{
    width: 58rem;
    height: 88rem;
    margin: 15rem auto 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #bb565f;
    position: relative;
}
.mtcontent{
    position: relative;
    display: -webkit-box;
    top: 3rem;
    text-align: left;
    width: 93%;
    margin-left: 3%;
    color: #333333;
    max-height: 40.635417rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    font-size: 3rem;
}
.hxcontent{
    display: flex;
    height: 74%;
}
.mtmore{
    text-align: right;
    height: auto;
    width: 100%;
    color: #333333;
    position: absolute;
    bottom: 3.2rem;
    right: 3.2rem;
    font-size: 3rem;
}
.h1-blue{
    color: #2997fd;
}
.h1-blue:after{
    background-color: #2997fd;
}
.culture{
    background-color: #ffffff;
}
.culbefore{
    font-size: 4rem;
    color:333333;
    width: auto;
    height: 4rem;
    line-height: 4rem;
    position: absolute;
    top: 24rem;
    left: 10rem;
    font-weight: normal;
}
.culture > span{
    display: block;
}
.culbefore:before{
    content: '';
    background-image: url("../../mobile/images/about/vision.png");
    background-size: 5rem 4rem;
    display: block;
    height: 4rem;
    width: 5rem;
    position: absolute;
    left: -7rem;
}
.culafter{
    font-size: 3rem;
    color: #333333;
    display: block;
    margin-top: 3rem;
}
.sm{
    top: 39rem!important;
}
.sm:before{
    background-image: url("../../mobile/images/about/mission.png")!important;
}
.hxjz{
    top: 54rem!important;
}
.hxjz:before{
    background-image: url("../../mobile/images/about/corevalue.png")!important;
}
.hxjzdiv{
    width: 60rem;
    height: 63rem;
    position: absolute;
    bottom: 10rem;
    left: 11rem;
}
.hxjzdiv > div{
    width: 23rem;
    height: 30rem;
    background-color: inherit;
    position: relative;
    border: 0.3rem solid #bb565f;
}
.hxtitle{
    background-color: #ffffff;
    width: 100%;
    height: 8rem;
}
.hxtitle > span{
    color: #ffffff;
    font-size: 3rem;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 8rem;
    text-align: center;
    background-color: #bb565f;
}
.hxr{
    float: right;
}
.hxl{
    float: left;
}
.hxt{
    margin-top: 3rem;
}
.zhxcontent{
    height: 22rem;
    width: 100%;
    display: flex;
}
.hxcontent > div{
    width: 100%;
    text-align: center;
    align-self: center;
}
.hxcontent > div > span{
    display: block;
    width: 100%;
    text-align: center;
    color: #333333;
    font-size: 2rem;
}