.top-img-div{
    position: absolute;
    background-color: aqua!important;
}
.top-img-div > input[type="button"]{
    position: absolute;
    bottom: 11rem;
    width: 30rem;
    height: 12rem;
    background-color: #ffffff;
    color: #bb565f;
    font-size: 4rem;
    margin: 0 32%;
    border-radius: 20px;
}
.top-img-div > img{
    width: 100%;
    height: 100%;
}
.topimg{
    display: inline-block;
}
.hy{
    background-image: url("../images/index/ys.png");
    background-size:100% 100%;
    position: absolute;
}
.tytitle{
    position: relative;
    width: 23rem;
    margin: 0 auto;
    height: 10rem;
    top: 10rem;
    font-size: 4rem;
    color: #333333;
    text-align: center;
    border-bottom: 5px solid #bb565f;
}
.ttblue{
    color: #333333;
    border-color: #bb565f;
}
.yscont{
    position: absolute;
    width: 100%;
    height: auto;
    align-self: center;
}
.yscont > ul {
    width: 100%;
}
.yscont > ul > li{
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
}
.yscont > ul > li:nth-child(n+2){
    margin-top: 10rem;
}
.hzqy{
    background-color: #ffffff;
    position: absolute;
}
.qylogo{
    width: 100%;
    height: auto;
    position: absolute;
    align-self: center;
}
.qylogo > ul{
    width: 30rem;
    display: block;
    position: relative;
    float: left;
}
.qylogo > ul >li{
    height: 21rem;
    background-color: white;
}
.qy1{
    left: 8rem;
}
.qy1 > li:nth-child(n+2){
    margin-top: 9rem;
}
.qy2{
    margin-left: 13rem;
}
.qy2 > li:nth-child(n+2){
    margin-top: 9rem;
}
.qylogo > ul > li > img{
    width: 100%;
}
.cqyh{
    position: relative;
    top: 3rem
}
.lttj{
    position: absolute;
}
.ltimg{
    position: absolute;
    align-self: center;
    width: 100%;
}
.ltimg > ul{
   float: left;
}
.ltimg > ul > li{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    background-color: #bb565f;
}
.ltimg > ul > li >img{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}
.ltimg > ul > li:nth-child(n+2){
    margin-top: 7rem;
}
.ltlist1{
    margin-left: 11rem;
}
.ltlist2{
    margin-left: 20rem;
}
.lc{
    background-color: #ffffff;
    position: absolute;
}
.lcimg{
    width: 100%;
    height:auto;
    position: absolute;
    bottom: 35%;
}
.lcimg > img{
    width: 100%;
    width: 94%;
    margin: 0 3%;
}
.lcimg > span {
    display: inline-block;
    position: absolute;
    font-size: 2rem;
    color: #333333;
}
.lcimg > span:nth-child(2){
    top: 14rem;
    left: 2rem;
}
.lcimg > span:nth-child(3){
    top: 7rem;
    left: 12.5rem;
}
.lcimg > span:nth-child(4){
    top: 33rem;
    left: 20rem;
}
.lcimg > span:nth-child(5){
    top: 30rem;
    left: 34.5rem;
}
.lcimg > span:nth-child(6){
    top: 9rem;
    left: 26.5rem;
}
.lcimg > span:nth-child(7){
    top: -4rem;
    left: 49.5rem;
}
.lcimg > span:nth-child(8){
    top: -1rem;
    left: 60rem;
}
.lcimg > span:nth-child(9){
    top: 18rem;
    left: 47.5rem;
}
.mcenter{
    background-image: url("../images/index/creater.png");
    background-size: 100% 100%;
    position: absolute;
}
.concenter{
    position: absolute;
    width: 100%;
    align-self: center;
}
.concenter > ul {
    width: 94%;
    height: auto;
    margin: 0 3%;
}
.concenter > ul >li:nth-child(n+2){
    margin-top: 15rem;
}
.concenter > ul > li > a{
    font-size: 4rem;
    color: #ffffff;
}
.imgcenter{
    position: absolute;
}
.img-center{
    width: 100%;
}
.img-c{
    position: absolute;
    align-self: center;
}
.img-c > img{
    width: 33rem;
    height: 25rem;
    display: inline-block;
}
.img-c >img:nth-child(2n+1){
    margin-left: 6rem;
    margin-top: 1rem;
}
.img-c >img:nth-child(2n){
    margin-left: 3rem;
    margin-top: 1rem;
}
