{extend name="public/common" /}
{block name="banner"}
{/block}
{block name="body"}
<!--<div class="bgd">-->
    <!--<div>-->
        <!--<span>IMG</span>-->
        <!--<span>Choose your background</span>-->
    <!--</div>-->
    <!--<div class="crow">-->
        <!--{volist name="list" id="vo"}-->
        <!--<div>-->
            <!--<div><a href="#">新闻</a></div>-->
            <!--<div>-->
                <!--<h1>{$vo['title']}</h1>-->
                <!--<h2>{$vo['subtitle']}</h2>-->
                <!--<h3>{$vo['time']}</h3>-->
                <!--<div class="content-div" style="text-align: center">-->
                    <!--<img style="display: inline-block" src="../../static{$vo['urlposition']}{$vo['name']}" alt="">-->
                    <!--<p>{$vo['content']}</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="btn-div">-->
                <!--<a href="index?newsid={$vo['nid']}&orientation=last"><img src="../../static/images/detail/past.png" ></a>-->
                <!--<a href="index?newsid={$vo['nid']}&orientation=next"><img src="../../static/images/detail/next.png" ></a>-->
            <!--</div>-->
        <!--</div>-->
        <!--{/volist}-->
    <!--</div>-->
<!--</div>-->
<!--以上代码不能删除-->
<div class="main-body">
    <div class="detail-news" style="position: relative">
        <div class="news-nav">
            <nav>
                <ul>
                    <li><a href="">新闻资讯</a></li>
                    <li><a href="">>企业新闻></a></li>
                    <li><a href="">新闻标题</a></li>
                </ul>
            </nav>
        </div>
        <div class="news-content">
            <h1 style="display: inline-block; width: 100%; text-align: center;margin-top: 2rem">{$vo['title']}</h1>
            <h5 style="display: inline-block; width: 100%; text-align: center;font-weight: 500;position:relative;top:1rem">作者:{$vo['writer']}</h5>
            <h5 style="display: inline-block; width: 100%; text-align: center;font-weight: 500;position:relative;top:1.5rem">{$vo['time1']|date='Y-m-d',###}</h5>
            <div class="wenben">
               <!--这里直接输入富文本编辑框的值-->
                {$vo['content']}
            </div>
        </div>
        <div class="prevornext">
            <a href="index?newsid={$vo['nid']}&orientation=last">上一篇</a>
            <a href="index?newsid={$vo['nid']}&orientation=next">下一篇</a>
        </div>
    </div>
</div>
{/block}