{extend name="public/common" /}
{block name="body"}
<!--顶部图-->
<div class="top-img-div set-h">
    <img class="topimg" src="__STATIC__/mobile/images/index/topimg.png" alt="">
    <input type="button" value="了解详情">
</div>
<div class="set-h hy" style="display: flex">
    <div class="tytitle" style="color: #ffffff;">
        行业优势
    </div>
    <div class="yscont">
        <ul>
            <li>600+猎头顾问</li>
            <li>覆盖各大行业</li>
            <li>5000多万人才数据库</li>
            <li>为30000+合作企业提供人才</li>
        </ul>
    </div>
</div>
<div class="set-h hzqy" style="display: flex">
    <div class="tytitle" style="top:3rem">
        合作企业
    </div>
    <div class="qylogo">
        <ul class="qy1">
            <li><img src="__STATIC__/mobile/images/index/tianyou.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/zhengbang.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/yixin.png" alt=""></li>
        </ul>
        <ul class="qy2">
            <li><img src="__STATIC__/mobile/images/index/huawei.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/minsheng.png" alt=""></li>
            <li><img class="cqyh" src="__STATIC__/mobile/images/index/cqyh.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="set-h lttj" style="display: flex">
    <div class="tytitle ttblue" style="top:5rem">
        猎头推荐
    </div>
    <div class="ltimg">
        <ul class="ltlist1">
            <li><img src="__STATIC__/mobile/images/index/lt1.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/lt3.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/lt5.png" alt=""></li>
        </ul>
        <ul class="ltlist2">
            <li><img src="__STATIC__/mobile/images/index/lt2.png" alt=""></li>
            <li><img src="__STATIC__/mobile/images/index/lt4.png" alt="gb"></li>
            <li><img src="__STATIC__/mobile/images/index/llj.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="set-h lc">
    <div class="tytitle">
        八大流程
    </div>
    <div class="lcimg">
        <img src="__STATIC__/mobile/images/index/serve.png" alt="">
        <span>需求分析</span>
        <span>限时寻访</span>
        <span>人才测评</span>
        <span>面试推荐</span>
        <span>Offer谈判</span>
        <span>背景调查</span>
        <span>聘后EAP心理辅导</span>
        <span>售后服务与HR活动支持</span>
    </div>
</div>
<div class="set-h mcenter" style="display: flex">
    <div class="tytitle" style="color: white;top:5rem">
        资讯中心
    </div>
    <div class="concenter">
        <ul>
            {volist name="newsdata" id="vo"}
                <li><a href="/mobile/detail/index?name={$vo.id}">{$vo.title}</a></li>
            {/volist}
        </ul>
    </div>
    <a class="more-a" href="">更多>></a>
</div>
<div class="set-h imgcenter" style="display: flex">
    <div class="tytitle ttblue" style="top:2rem">
        图片中心
    </div>
    <div class="img-c">
        <img src="__STATIC__/mobile/images/index/meeting.png" alt="">
        <img src="__STATIC__/mobile/images/index/wine.png" alt="">
        <img src="__STATIC__/mobile/images/index/awards.png" alt="">
        <img src="__STATIC__/mobile/images/index/honor.png" alt="">
        <img src="__STATIC__/mobile/images/index/academy.png" alt="">
        <img src="__STATIC__/mobile/images/index/train.png" alt="">
    </div>
    <a class="more-a" href="" style="color:#bb565f">更多>></a>
</div>
<!--底部-->
<div class="set-h footer footer-blue">
    <img src="__STATIC__/mobile/images/index/tel.png" alt="联系电话">
    <div>
        <span>
            {$footerdata['个人求职']["titlename"]}：{$footerdata['个人求职']["titlecontent"]}
        </span>
    </div>
    <div><span>{$footerdata['加入我们']["titlename"]}：{$footerdata['加入我们']["titlecontent"]}</span></div>
    <div><span>总部地址：重庆市沙坪坝区西园北街6号附10号22-1</span></div>
    <div>
        <span>主要服务区域及办公地点：</span>
        <span class="dz-d">北京/上海/深圳/广州/天津/杭州/南京/成都/重庆</span>
    </div>
    <div class="codeimg">
        <img src="__STATIC__/mobile/images/sina12.png" alt="">
        <img class="code2" src="__STATIC__/mobile/images/2code.png" alt="">
        <a href="tel:13718767011"><img class="callimg" src="__STATIC__/mobile/images/white.png" alt=""></a>
        <a  class="callcontent" href="tel:13718767011">联系我们</a>
    </div>
</div>
{/block}