<!--底部-->
<div class="set-h footer footer-blue">
    <img src="__STATIC__/mobile/images/index/tel.png" alt="联系电话">
    <div>
        <span>个人求职：nfxhlt@qq.com</span>
    </div>
    <div><span>加入我们：jxxhhr@163.com</span></div>
    <div><span>总部地址：重庆市沙坪坝区西园北街6号附10号22-1</span></div>
    <div>
        <span>主要服务区域及办公地点：</span>
        <span class="dz-d">北京/上海/深圳/广州/天津/杭州/南京/成都/重庆</span>
    </div>
    <div class="codeimg">
        <img src="__STATIC__/mobile/images/sina12.png" alt="">
        <img class="code2" src="__STATIC__/mobile/images/2code.png" alt="">
        <a href="tel:13718767011"><img class="callimg" src="__STATIC__/mobile/images/white.png" alt=""></a>
        <a  class="callcontent" href="tel:13718767011">联系我们</a>
    </div>
</div>