{extend name="public/common" /}
{block name="banner"}
<!--banner-->

<div class="banner long-banner" >
    <img src="__STATIC__/images/aboutus/abimgbg.png" alt="">
    {volist name="abouttitle" id="vo"}
    {eq name="vo.source" value="feature1"}
    <div class="box1">
        <div class="blue-top"></div>
        <div>
            <span>{$vo['titlename']}</span>
            <span>{$vo['titlecontent']}</span>
            <input class="blue-input input-p" type="button" onclick="openchat()" value="我要招聘">
        </div>
    </div>
    {/eq}
    {/volist}
    {volist name="abouttitle" id="vo"}
    {eq name="vo.source" value="feature2"}
    <div class="box2">
        <div class="blue-top"></div>
        <div>
            <span>{$vo['titlename']}</span>
            <span>{$vo['titlecontent']}</span>
            <input class="blue-input mf-p" type="button" onclick="openchat()" value="免费咨询">
        </div>
    </div>
    {/eq}
    {/volist}
</div>

<!--banner-->
{/block}

{block name="body"}
<!--创始人简介-->
{volist name="abouttitle" id="vo"}
{eq name="vo.source" value="feature3"}
<div class="creator">
    <img src="../../{$list.founder}" alt="">
    <div class="box3">
        <div class="blue-top white-top"></div>
        <div>
            <span>{$vo.titlename}</span>
            <span>{$vo.titlecontent}</span>
            <input class="blue-input white-input" type="text" onclick="openchat()" value="免费咨询">
        </div>
    </div>
</div>
{/eq}
{/volist}
<!--创始人简介-->

<!--媒体报道-->

<div class="mtbd">
    <table class="tb-title">
        <tbody>
        <tr>
            <td>媒体报道</td>
        </tr>
        </tbody>
    </table>
    <div class="d1">
        <div class="win">
            <img src="__STATIC__/images/aboutus/vava.jpg" alt="">
            <a class="mttitle" href="#"><b>重庆市人社局副局长何振国一行到访南方新华</b></a>
            <a class="mtcontent" href="#">
                7月10日下午，重庆人力社保局副局长何振国，
                渝北区政府副区长唐密一行参观了南方新华第七事业部。何振国副局长，
                唐密副区长一行到重庆人力资源服务产业园出席会议并视察，
                会议前到南方新华进行了调研参观。
            </a>
            <a class="mtmore" href="#">更多</a>
        </div>
    </div>
    <div class="d2">
        <div class="win">
            <img src="__STATIC__/images/aboutus/sasa.jpg" alt="">
            <a class="mttitle" href="#"><b>Top Work企业家及导师参观访问南方新华</b></a>
            <a class="mtcontent" href="#">
                5月8日，TopWork企业家及导师一行来到重庆南方新华总部参观访问，受到公司董事长张勇热烈欢迎。
                董事长张勇向来宾介绍猎头发展趋势和基本服务流程；人力资源部负责人带领来宾参观南方新华办公环境，
                第三事业部负责人对南方新华近年来在猎头方面所做的工作以及未来的发展规划进行了演示讲解。
            </a>
            <a class="mtmore" href="#">更多</a>
        </div>
    </div>
    <div class="d3">
        <div class="win">
            <img src="__STATIC__/images/aboutus/vava.png" alt="">
            <a class="mttitle" href="#"><b>南方新华猎头公司代表参加2018高校毕业生双选会</b></a>
            <a class="mtcontent" href="#">
                2017年11月16日上午，重庆市2018届普通高校毕业生就业双选会(商贸类专场)在重庆商务职业学院顺利举行。
                重庆南方新华企业管理咨询有限公司(即南方新华猎头公司)董事长张勇，作为企业方唯一代表在大会上发言，
                重点谈到校企合作的重要性、十九大报告对教育质量供给侧改革提出的新要求
                、校企合作可借鉴的模式、南方新华猎头公司在校企合作方面的投资建设情况等四个方面。据悉，共有160多家企业代表参加此次双选会。
            </a>
            <a class="mtmore" href="#">更多</a>
        </div>
    </div>
</div>

<!--媒体报道-->

<!--地图-->
<div class="map">
    <table class="tb-title blue-tb">
        <tbody>
        <tr>
            <td>业务覆盖范围</td>
        </tr>
        </tbody>
    </table>
    <div class="map-row">
        <div id="map"></div>
        <div class="map-text">
            <div>
                <span>主要服务的区域</span>
                <span>北京、上海、深圳、广州、天津、杭州、南京、成都、重庆</span>
                <input class="blue-input map-btn" type="button" onclick="openchat()" value="免费咨询">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 全国省份列表
    var dataMap = [{ name: '北京' },
        { name: '天津' }, { name: '上海' },
        { name: '重庆' }, { name: '河北' }, { name: '河南' },
        { name: '云南' }, { name: '辽宁' }, { name: '黑龙江' },
        { name: '湖南' }, { name: '安徽' }, { name: '山东' },
        { name: '新疆' }, { name: '江苏' }, { name: '浙江' }, { name: '江西' },
        { name: '湖北' }, { name: '广西' }, { name: '甘肃' }, { name: '山西' },
        { name: '内蒙古' }, { name: '陕西' }, { name: '吉林' }, { name: '福建' }, { name: '贵州' },
        { name: '广东' }, { name: '青海' }, { name: '西藏' }, { name: '四川' },
        { name: '宁夏' }, { name: '海南' }, { name: '台湾' }, { name: '香港' }, { name: '澳门' }]
    // 需要在页面上直接标记出来的城市
    var specialMap = [];
    // 对dataMap进行处理，使其可以直接在页面上展示
    for (var i = 0; i < specialMap.length; i++) {
        for (var j = 0; j < dataMap.length; j++) {
            if (specialMap[i] == dataMap[j].name) {
                dataMap[j].selected = true;
                break;
            }

        }
    }
    // 绘制图表，准备数据
    var option = {
        tooltip: {
            formatter: function (params) {
                var info = '<p style="font-size:0.9375rem">' + params.name + '</p>'
                return info;
            },
            backgroundColor: "#ff7f50",//提示标签背景颜色
            textStyle: { color: "#fff" } //提示标签字体颜色
        },
        series: [
            {
                name: '中国',
                type: 'map',
                mapType: 'china',
                selectedMode: 'multiple',
                label: {
                    normal: {
                        show: true,//显示省份标签
                        textStyle:{color:"#ffffff"}//省份标签字体颜色
                    },
                    emphasis: {
                        show: true,//对应的鼠标悬浮效果
                        // textStyle:{color:"#800080"}
                    }
                },
                itemStyle: {
                    normal: {
                        borderWidth:0.5,//区域边框宽度
                        borderColor: '#bb565f',//区域边框颜色
                        areaColor:"#bb565f",//区域颜色
                    },
                    emphasis: {
                        borderWidth: .5,
                        borderColor: '#bb565f',
                        areaColor: "#ffffff",
                    }
                },
                data: dataMap
            }
        ]
    };
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('map'));
    //使用制定的配置项和数据显示图表
    myChart.setOption(option);
    $(document).ready(function () {
       $("canvas").css({"width":"33.33333333333333rem","height":"38.33333333333333rem"});
       //$("canvas").attr({"width":"33.33333333333333rem","height":"38.33333333333333rem"});
       $("canvas").parent().css({"width":"33.33333333333333rem","height":"38.33333333333333rem"});
       $("#map").css({"width":"33.33333333333333rem","height":"38.33333333333333rem"});

    });
</script>
<!--地图-->

<!--企业文化-->
<div class="culture">
    <table class="tb-title">
        <tbody>
        <tr>
            <td>企业文化</td>
        </tr>
        </tbody>
    </table>
    <div class="div-2d">
        {volist name="abouttitle" id="vo"}
        {eq name="vo.source" value="cultureVision"}
        <div>
            <div class="d-title">
                <img src="../../{$list.vision}" alt="">
                <span>{$vo['titlename']}</span>
                <div>
                    <span class="d-text-1">{$vo['titlecontent']}</span>
                </div>
            </div>
        </div>
        {/eq}
        {/volist}
        {volist name="abouttitle" id="vo"}
        {eq name="vo.source" value="cultureMission"}
        <div>
            <div class="d-title">
                <img src="../../{$list.mission}" alt="">
                <span>{$vo['titlename']}</span>
                <div>
                    <span class="d-text-2">{$vo['titlecontent']}</span>
                </div>
            </div>
        </div>
        {/eq}{/volist}
    </div>
    <div class="div-1d">
        <div>
            <div class="d-title">
                <img src="../../{$list.corevalue}" alt="">
                {volist name="abouttitle" id="vo"}
                {eq name="vo.source" value="cultureCoreValue1"}
                <span>{$vo['titlename']}</span>
                {/eq}
                {/volist}
                <div class="d-4d" style="box-shadow: none">
                    {volist name="abouttitle" id="vo"}
                    {eq name="vo.source" value="cultureCoreValue1"}
                    <div class="hxjz">
                        <div>
                            <span>{$vo['subname']}</span>
                        </div>
                        <p class="p-top-1">{$vo['titlecontent']}</p>
                    </div>
                    {/eq}
                    {/volist}
                    {volist name="abouttitle" id="vo"}
                    {eq name="vo.source" value="cultureCoreValue2"}
                    <div class="hxjz">
                        <div>
                            <span>{$vo['subname']}</span>
                        </div>
                        <p class="p-top-2">{$vo['titlecontent']}</p>
                    </div>
                    {/eq}
                    {/volist}
                    {volist name="abouttitle" id="vo"}
                    {eq name="vo.source" value="cultureCoreValue3"}
                    <div class="hxjz">
                        <div>
                            <span>{$vo['subname']}</span>
                        </div>
                        <p class="p-top-2">{$vo['titlecontent']}</p>
                    </div>
                    {/eq}
                    {/volist}
                    {volist name="abouttitle" id="vo"}
                    {eq name="vo.source" value="cultureCoreValue4"}
                    <div class="hxjz">
                        <div>
                            <span>{$vo['subname']}</span>
                        </div>
                        <p class="p-top-2">{$vo['titlecontent']}</p>
                    </div>
                    {/eq}
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<!--企业文化-->
{/block}}