{extend name="public/common" /}
{block name="banner"}
<div class="banner" style="height: 64.5rem">
    <img src='__STATIC__/images/fast/BANNER.png' alt="极速猎头">
    <div class="banneradd">
        <img src="__STATIC__/images/fast/company.png" alt="急速猎头">
        <div class="bannerbottom">
            <h1 class="company-name">南方新华</h1>
            <span class="company-detail">
                大型管理咨询型高端猎头机构，总部设于重庆，拥有600多名猎头及高级咨询师。专注于为企业提供人力资源咨询、猎头服务、人才测评、员工帮助计划（EAP服务）等一流的人力资源服务。
            </span>
            <input type="button" class="rightnow red-zp" onclick="openchat()" value="我要招聘">
        </div>
    </div>
</div>
{/block}
{block name="body"}
<div class="serviceys">
    <h1 class="h1-title ys-title">服务优势</h1>
    <div class="ys-content">
        <div class="ys-img-1">
            <img src="__STATIC__/images/fast/hours.png" alt="南方新华极速猎头+">
            <div class="text-div">
                <span>南方新华极速猎头+</span>
                <span>24小时极速交付</span>
                <span>平均15天招聘到位</span>
            </div>
        </div>
        <div class="ys-img-2">
            <img src="__STATIC__/images/fast/hunter.png" alt="600+猎头顾问">
            <div class="text-div">
                <span>600+猎头顾问</span>
                <span>50000000联合人才数据库</span>
                <span>3万企业共同选择</span>
            </div>
        </div>
        <div class="ys-img-3">
            <img src="__STATIC__/images/fast/enterprise.png" alt="企业人力资源管理咨询服务专家">
            <div class="text-div">
                <span>企业人力资源管理咨询服务专家</span>
                <span>提升HR自身能力</span>
                <span>为企业打造人力资源体系</span>
            </div>
        </div>
    </div>
</div>
<div class="product">
    <h1 class="h1-title">服务产品</h1>
    <div class="fa">
        <div class="fa-ch">
            <div class="ch-btn" onclick="rbtnin(this)">
            <span class="icon add-1-r add-1-w" style="color: #ffffff;text-indent: -1rem">
                专业猎头服务
            </span>
            </div>
            <div class="ch-btn" onclick="rbtnin(this)">
            <span class="icon add-2-r">
                慧简历
            </span>
            </div>
            <div class="ch-btn" onclick="rbtnin(this)">
            <span class="icon add-3-r">
                慧面试
            </span>
            </div>
            <div class="ch-btn" onclick="rbtnin(this)">
            <span class="icon add-4-r">
                慧入职
            </span>
            </div>
            <div class="ch-btn" onclick="rbtnin(this)">
            <span class="icon add-5-r">
                大渔招
            </span>
            </div>
            <div class="overflowbtn">
            </div>
            <div class="zy">
                <div class="zy-change">
                    <div id="t-div">
                     <span id="zy-title" class="zy-title icon-lt">
                        专业猎头服务
                    </span>
                        <span class="zy-ftitle">
                        提供入职保障服务
                    </span>
                    </div>
                    <div class="zy-content">
                        <div id="zyc">
                            <span>1.职位调研：HR提出招聘需求点</span>
                            <span>2.搜索简历：猎头按要求搜索简历，沟通候选人意向</span>
                            <span>3.推荐简历：推荐符合条件的候选人简历</span>
                            <span>4.委托邀约：HR委托猎头邀约候选人</span>
                            <span>5.邀约面试：邀约候选人面试</span>
                            <span>6.通过入职：跟进面试结果，通过面试人选入职</span>
                            <span>7.入职管理：提供入职保障服务</span>
                        </div>
                    </div>
                </div>
                <input class="rightnow" type="button" value="立即咨询" onclick="openchat()">
            </div>
        </div>
    </div>
</div>
<div class="lc-8">
    <h1 class="h1-title">八大流程</h1>
    <div class="lc-detail">
        <p>8大流程，标准化服务</p>
        <p>闪电响应速度</p>
        <p>精准人才评估和推荐体系</p>
        <a href="{:url('home/server/index')}">>5大承诺保障<</a>
        <div class="all-lc">
            <ul>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/need.png" style="width: 3.125rem;height: 3.125rem;" alt="需求分析">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【需求分析】</h2>
                            <p>1小时内</p>
                            <p>3人组寻访</p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/right.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/time.png" style="width: 3.125rem;height: 3.125rem;" alt="限时寻访">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【限时寻访】</h2>
                            <p>2小时内</p>
                            <p>项目组寻访</p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/right.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/test.png" style="width: 3.125rem;height: 3.125rem;" alt="人才测评">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【人才测评】</h2>
                            <p>主管+客观工具</p>
                            <p>科学测评 </p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/right.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/meet.png" style="width: 3.125rem;height: 3.125rem;" alt="面试推荐">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【面试推荐】</h2>
                            <p>&nbsp;</p>
                            <p>24小时内推荐 </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-lc">
            <ul>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/HR.png" style="width: 2.9167rem;height: 3.125rem;" alt="售后服务与HR活动支持">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【售后服务与HR活动支持】</h2>
                            <p>满意度调查</p>
                            <p>丰富线上活动</p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/left.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/heart.png" style="width: 3.125rem;height: 2.9167rem;" alt="聘后EAP心理辅导">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【聘后EAP心理辅导】</h2>
                            <p>服务+辅导</p>
                            <p>完整评估体系</p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/left.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/check.png" style="width: 2.6042rem;height: 3.2292rem;" alt="背景调查">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【背景调查】</h2>
                            <p>细致的职业背景核实</p>
                            <p>推荐前必面试</p>
                        </div>
                    </div>
                    <div class="jt">
                        <img class="jt-r" src="__STATIC__/images/fast/left.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="lc-img-d">
                        <img src="__STATIC__/images/fast/offer.png" style="width: 3.125rem;height: 3.125rem;" alt="Offer谈判">
                    </div>
                    <div class="lc-dd">
                        <div>
                            <h2 class="lc-title">【Offer谈判】</h2>
                            <p>从面试到offer</p>
                            <p>全程跟进</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <img class="jt-down" src="__STATIC__/images/fast/down.png" alt="">
    </div>
</div>
{/block}
{block name="js"}
<script>
    function rbtnin(data) {
        var movebtn = $(".overflowbtn");
        var fa = $(".fa-ch");
        var count = $(data).index();
        var ftitle = $(".zy-ftitle");
        var title = $("#zy-title");
        var length = fa.children().length-2;
        setTimeout(function () {
            $("#zyc").empty();
            ftitle.removeAttr("style");
            $("#t-div").removeAttr("style");
        },400);
        $(".zy-change").fadeToggle();
        for(let i = 0;i<length;i++){
            fa.children().eq(i).removeAttr("onclick");
        }
        switch(movebtn.css("top")){
            case fa.children().eq(0).css("top"):
                fa.children().eq(0).children().eq(0).css("color","#333333");
                fa.children().eq(0).children().eq(0).removeClass("add-1-w");
                break;
            case fa.children().eq(1).css("top"):
                fa.children().eq(1).children().eq(0).css("color","#333333");
                fa.children().eq(1).children().eq(0).removeClass("add-2-w");
                break;
            case fa.children().eq(2).css("top"):
                fa.children().eq(2).children().eq(0).css("color","#333333");
                fa.children().eq(2).children().eq(0).removeClass("add-3-w");
                break;
            case fa.children().eq(3).css("top"):
                fa.children().eq(3).children().eq(0).css("color","#333333");
                fa.children().eq(3).children().eq(0).removeClass("add-4-w");
                break;
            case fa.children().eq(4).css("top"):
                fa.children().eq(4).children().eq(0).css("color","#333333");
                fa.children().eq(4).children().eq(0).removeClass("add-5-w");
                break;
            default:
                break;
        }
        var objspan = $(data).children();
        var top = $(data).css('top');
        objspan.css("color","#ffffff");
        fa.children().eq(count).children().eq(0).addClass("add-"+(count+1)+"-w");
        movebtn.animate({top:top},"300");
        setTimeout(function () {
            for(let i = 0;i<length;i++){
                fa.children().eq(i).attr("onclick","rbtnin(this)");
            }
            $(data).removeAttr("onclick");
            title.text(objspan.text());
            title.removeClass();
            switch (objspan.text().trim()){
                case "专业猎头服务":
                    ftitle.text("提供入职保障服务");
                    $("#zyc").append("<span>1.职位调研：HR提出招聘需求点</span>",
                        "<span>2.搜索简历：猎头按要求搜索简历，沟通候选人意向</span>",
                        "<span>3.推荐简历：推荐符合条件的候选人简历</span>",
                        "<span>4.委托邀约：HR委托猎头邀约候选人</span>",
                        "<span>5.邀约面试：邀约候选人面试</span>",
                        "<span>6.通过入职：跟进面试结果，通过面试人选入职</span>",
                        "<span>7.入职管理：提供入职保障服务</span>");
                    title.addClass("zy-title icon-lt");
                    break;
                case "慧简历":
                    ftitle.text("提供简历服务");
                    ftitle.css({"font-size":"1.3021rem","letter-spacing":"0"});
                    title.addClass("zy-title icon-jl");
                    $("#t-div").css({"position":"relative","left":"-4rem"});
                    $("#zyc").append("<span>1.职位调研：HR提出招聘需求点</span>",
                        "<span>2.搜索简历：猎头按要求搜索简历渠道</span>",
                        "<span>3.提供简历：提供符合要求的简历</span>",
                        "<span>4.挑选简历：HR挑选简历，猎头沟通意向</span>",
                        "<span>5.反馈意向：猎头向HR反馈候选人意向</span>");
                    break;
                case "慧面试":
                    ftitle.text("提供面试服务");
                    ftitle.css({"font-size":"1.3021rem","letter-spacing":"0"});
                    title.addClass("zy-title icon-ms");
                    $("#t-div").css({"position":"relative","left":"-4rem"});
                    $("#zyc").append("<span>1.职位调研：HR提出招聘需求点</span>",
                        "<span>2.搜索简历：猎头按要求搜索简历，沟通候选人意向</span>",
                        "<span>3.推荐简历：推荐符合条件的候选人简历</span>",
                        "<span>4.委托邀约：HR委托猎头邀约候选人</span>",
                        "<span>5.邀约面试：邀约候选人面试</span>");
                    break;
                case "慧入职":
                    ftitle.text("提供入职服务");
                    ftitle.css({"font-size":"1.3021rem","letter-spacing":"0"});
                    title.addClass("zy-title icon-rz");
                    var text1 = "<span>1.职位调研：HR提出招聘需求点</span>";
                    var text2 = "<span>2.搜索简历：猎头按要求搜索简历，沟通候选人意向</span>";
                    var text3 = "<span>3.推荐简历：推荐符合条件的候选人简历</span>";
                    var text4 = "<span>4.委托邀约：HR委托猎头邀约候选人</span>";
                    var text5 = "<span>5.邀约面试：邀约候选人面试</span>";
                    var text6 ="<span>6.通过入职：跟进面试结果，通过面试人选入职</span>"
                    $("#zyc").append(text1,text2,text3,text4,text5,text6);
                    break;
                case "大渔招":
                    ftitle.text("提供整套人力资源服务");
                    ftitle.css({"font-size":"0.78125rem","letter-spacing":"0"});
                    title.addClass("zy-title icon-dyz");
                    var text1="<span>1.尽职调查：公司战略与人力资源管理尽职调查</span>";
                    var text2="<span>2.方案设计：战略招聘系统方案设计</span>";
                    var text3="<span>3.人员培训：战略招聘人员培训与实训</span>";
                    var text4="<span>4.实施辅导：战略招聘系统实施辅导</span>";
                    var text5="<span>5.效果评估：战略招聘系统效果评估</span>";
                    $("#zyc").append(text1,text2,text3,text4,text5);
                    break;
                default:
                    console.log("error");
                    break;
            }
            $(".zy-change").fadeToggle();
        },400);
    }
</script>
{/block}